

@font-face {
  font-family: 'MouserIcons';
  src: url('../icons/icons.eot');
  src: url('../icons/icons.eot?#iefix') format('embedded-opentype'),
       url('../icons/icons.woff2') format('woff2'),
       url('../icons/icons.woff') format('woff'),
       url('../icons/icons.ttf') format('truetype'),
       url('../icons/icons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}




.fa {
    display: inline-block;
    font: normal normal normal 14px/1 'MouserIcons';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


  .fa-lg {
      font-size: 1.33333333em;
      line-height: 0.75em;
      vertical-align: -15%;
  }

  .fa-2x {
      font-size: 2em;
  }

  .fa-3x {
      font-size: 3em;
  }

  .fa-4x {
      font-size: 4em;
  }

  .fa-5x {
      font-size: 5em;
  }



  .fa-fw {
      width: 1.28571429em;
      text-align: center;
  }



  .fa-ul {
      padding-left: 0;
      margin-left: 2.14285714em;
      list-style-type: none;
  }

  .fa-ul> li {
      position: relative;
  }

  .fa-li {
      position: absolute;
      left: -2.14285714em;
      width: 2.14285714em;
      top: 0.14285714em;
      text-align: center;
  }

  .fa-li.fa-lg {
      left: -1.85714286em;
  }



  .fa-border {
      padding: .2em .25em .15em;
      border: solid 0.08em #eeeeee;
      border-radius: .1em;
  }

  .pull-right {
      float: right;
  }

  .pull-left {
      float: left;
  }

  .fa.pull-left {
      margin-right: .3em;
  }

  .fa.pull-right {
      margin-left: .3em;
  }



  .fa-spin {
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
  }

  .fa-pulse {
      -webkit-animation: fa-spin 1s infinite steps(8);
      animation: fa-spin 1s infinite steps(8);
  }

  @-webkit-keyframes fa-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }

  @keyframes fa-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }



  .fa-rotate-90 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=1)";
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }

  .fa-rotate-180 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2)";
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  }

  .fa-rotate-270 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=3)";
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
  }

  .fa-flip-horizontal {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
  }

  .fa-flip-vertical {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
      -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
  }

  :root .fa-rotate-90,
  :root .fa-rotate-180,
  :root .fa-rotate-270,
  :root .fa-flip-horizontal,
  :root .fa-flip-vertical {
      filter: none;
  }



  .fa-stack {
      position: relative;
      display: inline-block;
      width: 2em;
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
  }

  .fa-stack-1x,
  .fa-stack-2x {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
  }

  .fa-stack-1x {
      line-height: inherit;
  }

  .fa-stack-2x {
      font-size: 2em;
  }

  .fa-inverse {
      color: #ffffff;
  }



  .fa-angle-double-left:before {
      content: '\f000';
  }

  .fa-angle-double-right:before {
      content: '\f001';
  }

  .fa-angle-double-up:before {
      content: '\f002';
  }

  .fa-angle-double-down:before {
      content: '\f003';
  }

  .fa-angle-left:before {
      content: '\f004';
  }

  .fa-angle-right:before {
      content: '\f005';
  }

  .fa-angle-up:before {
      content: '\f006';
  }

  .fa-angle-down:before {
      content: '\f007';
  }

  .fa-chevron-left:before {
      content: '\f008';
  }

  .fa-chevron-right:before {
      content: '\f009';
  }

  .fa-chevron-up:before {
      content: '\f00a';
  }

  .fa-chevron-down:before {
      content: '\f00b';
  }

  .fa-caret-left:before {
      content: '\f00c';
  }

  .fa-caret-right:before {
      content: '\f00d';
  }

  .fa-caret-down:before {
      content: '\f00e';
  }

  .fa-caret-up:before {
      content: '\f00f';
  }

  .fa-chevron-circle-left:before {
      content: '\f010';
  }

  .fa-chevron-circle-right:before {
      content: '\f011';
  }

  .fa-chevron-circle-up:before {
      content: '\f012';
  }

  .fa-chevron-circle-down:before {
      content: '\f013';
  }

  .fa-file-o:before {
      content: '\f014';
  }

  .fa-file-pdf-o:before {
      content: '\f015';
  }

  .fa-file-word-o:before {
      content: '\f016';
  }

  .fa-file-excel-o:before {
      content: '\f017';
  }

  .fa-file-powerpoint-o:before {
      content: '\f018';
  }

  .fa-file-image-o:before {
      content: '\f019';
  }

  .fa-file-audio-o:before {
      content: '\f01b';
  }

  .fa-file-video-o:before {
      content: '\f01c';
  }

  .fa-file-code-o:before {
      content: '\f01d';
  }

  .fa-sort:before {
      content: '\f01e';
  }

  .fa-sort-desc:before {
      content: '\f01f';
  }

  .fa-sort-asc:before {
      content: '\f020';
  }

  .fa-calendar-plus-o:before {
      content: '\f021';
  }

  .fa-calendar-minus-o:before {
      content: '\f022';
  }

  .fa-calendar-times-o:before {
      content: '\f023';
  }

  .fa-calendar-check-o:before {
      content: '\f024';
  }

  .fa-bar-chart:before {
      content: '\f025';
  }

  .fa-comment-o:before {
      content: '\f026';
  }

  .fa-comment:before {
      content: '\f027';
  }

  .fa-comments:before {
      content: '\f028';
  }

  .fa-comments-o:before {
      content: '\f029';
  }

  .fa-cube:before {
      content: '\f02a';
  }

  .fa-cubes:before {
      content: '\f02b';
  }

  .fa-external-link:before {
      content: '\f02c';
  }

  .fa-files-o:before {
      content: '\f02d';
  }

  .fa-info-circle:before {
      content: '\f02e';
  }

  .fa-question-circle:before {
      content: '\f02f';
  }

  .fa-check-circle:before {
      content: '\f030';
  }

  .fa-times-circle:before {
      content: '\f031';
  }

  .fa-minus-circle:before {
      content: '\f032';
  }

  .fa-plus-circle:before {
      content: '\f033';
  }

  .fa-list-alt:before {
      content: '\f034';
  }

  .fa-print:before {
      content: '\f035';
  }

  .fa-qrcode:before {
      content: '\f036';
  }

  .fa-check:before {
      content: '\f037';
  }

  .fa-times:before {
      content: '\f038';
  }

  .fa-plus:before {
      content: '\f039';
  }

  .fa-minus:before {
      content: '\f03a';
  }

  .fa-exclamation-circle:before {
      content: '\f03b';
  }

  .fa-exclamation-triangle:before {
      content: '\f03c';
  }

  .fa-floppy-o:before {
      content: '\f03d';
  }

  .fa-search-plus:before {
      content: '\f03e';
  }

  .fa-search-minus:before {
      content: '\f03f';
  }

  .fa-search:before {
      content: '\f040';
  }

  .fa-question:before {
      content: '\f041';
  }

  .fa-info:before {
      content: '\f042';
  }

  .fa-exclamation:before {
      content: '\f043';
  }

  .fa-share-alt:before {
      content: '\f044';
  }

  .fa-share-alt-square:before {
      content: '\f045';
  }

  .fa-cart-plus:before {
      content: '\f046';
  }

  .fa-cart-arrow-down:before {
      content: '\f047';
  }

  .fa-shopping-cart:before {
      content: '\f048';
  }

  .fa-spinner:before {
      content: '\f049';
  }

  .fa-th-large:before {
      content: '\f04a';
  }

  .fa-th:before {
      content: '\f04b';
  }

  .fa-th-list:before {
      content: '\f04c';
  }

  .fa-trash-o:before {
      content: '\f04d';
  }

  .fa-trash:before {
      content: '\f04e';
  }

  .fa-envelope-o:before {
      content: '\f04f';
  }

  .fa-envelope:before {
      content: '\f050';
  }

  .fa-calendar-o:before {
      content: '\f051';
  }

  .fa-calendar:before {
      content: '\f052';
  }

  .fa-user-circle-o:before {
      content: '\f053';
  }

  .fa-user-circle:before {
      content: '\f054';
  }

  .fa-power-off:before {
      content: '\f055';
  }

  .fa-map-marker:before {
      content: '\f056';
  }

  .fa-pencil-square-o:before {
      content: '\f057';
  }

  .fa-twitter-square:before {
      content: '\f058';
  }

  .fa-facebook-square:before {
      content: '\f059';
  }

  .fa-phone:before {
      content: '\f05a';
  }

  .fa-linkedin-square:before {
      content: '\f05b';
  }

  .fa-google-plus-square:before {
      content: '\f05c';
  }

  .fa-rss-square:before {
      content: '\f05d';
  }

  .fa-youtube-square:before {
      content: '\f05e';
  }

  .fa-edge:before {
      content: '\f05f';
  }

  .fa-internet-explorer:before {
      content: '\f060';
  }

  .fa-opera:before {
      content: '\f061';
  }

  .fa-firefox:before {
      content: '\f062';
  }

  .fa-chrome:before {
      content: '\f063';
  }

  .fa-safari:before {
      content: '\f064';
  }

  .fa-file:before {
      content: '\f065';
  }

  .fa-file-text:before {
      content: '\f066';
  }

  .fa-sign-out:before {
      content: '\f067';
  }

  .fa-sign-in:before {
      content: '\f068';
  }

  .fa-bars:before {
      content: '\f069';
  }

  .fa-filter:before {
      content: '\f06a';
  }

  .fa-lock:before {
      content: '\f06b';
  }

  .fa-language:before {
      content: '\f06d';
  }

  .fa-cc-visa:before {
      content: '\f06e';
  }

  .fa-cc-mastercard:before {
      content: '\f06f';
  }

  .fa-cc-discover:before {
      content: '\f070';
  }

  .fa-cc-amex:before {
      content: '\f071';
  }

  .fa-cc-paypal:before {
      content: '\f072';
  }

  .fa-question-circle-o:before {
      content: '\f073';
  }

  .fa-file-text-o:before {
      content: '\f074';
  }

  .fa-cc-jcb:before {
      content: '\f075';
  }

  .fa-m-mouser:before {
      content: '\f076';
  }

  .fa-m-weibo-square:before {
      content: '\f077';
  }

  .fa-m-youku-square:before {
      content: '\f078';
  }

  .fa-m-wechat-square:before {
      content: '\f079';
  }

  .fa-m-blog-square:before {
      content: '\f07a';
  }

  .fa-m-subscribe-square:before {
      content: '\f07b';
  }

  .fa-pencil:before {
      content: '\f07c';
  }

  .fa-pencil-square:before {
      content: '\f07d';
  }

  .fa-globe:before {
      content: '\f07e';
  }

  .fa-cog:before {
      content: '\f07f';
  }

  .fa-eye:before {
      content: '\f080';
  }

  .fa-eye-slash:before {
      content: '\f081';
  }

  .fa-arrow-down:before {
      content: '\f082';
  }

  .fa-arrow-up:before {
      content: '\f083';
  }

  .fa-arrow-right:before {
      content: '\f084';
  }

  .fa-arrow-left:before {
      content: '\f085';
  }

  .fa-arrows:before {
      content: '\f086';
  }

  .fa-arrows-v:before {
      content: '\f087';
  }

  .fa-arrows-h:before {
      content: '\f088';
  }

  .fa-code:before {
      content: '\f089';
  }

  .fa-m-express-checkout:before {
      content: '\f08a';
  }

  .fa-folder-open-o:before {
      content: '\f08b';
  }

  .fa-folder-o:before {
      content: '\f08c';
  }

  .fa-folder-open:before {
      content: '\f08d';
  }

  .fa-folder:before {
      content: '\f08e';
  }

  .fa-m-macnica-online:before {
      content: '\f08f';
  }

  .fa-m-shipping-address:before {
      content: '\f090';
  }

  .fa-m-tax:before {
      content: '\f091';
  }

  .fa-m-digital-delivery:before {
      content: '\f092';
  }

  .fa-m-payment-method:before {
      content: '\f093';
  }

  .fa-m-shipping-method:before {
      content: '\f094';
  }

  .fa-m-backorder:before {
      content: '\f095';
  }

  .fa-m-express-checkout-circle:before {
      content: '\f096';
  }

  .fa-ban:before {
      content: '\f098';
  }

  .fa-long-arrow-down:before {
      content: '\f099';
  }

  .fa-long-arrow-up:before {
      content: '\f09a';
  }

  .fa-long-arrow-left:before {
      content: '\f09b';
  }

  .fa-long-arrow-right:before {
      content: '\f09c';
  }

  .fa-m-yield:before {
      content: '\f09d';
  }

  .fa-m-file-cad-o:before {
      content: '\f09e';
  }

  .fa-m-file-3d-o:before {
      content: '\f09f';
  }

  .fa-m-hazmat:before {
      content: '\f0a0';
  }

  .fa-m-ipc-ar:before {
      content: '\f0a1';
  }

  .fa-m-ipc-big:before {
      content: '\f0a2';
  }

  .fa-m-ipc-ccc:before {
      content: '\f0a3';
  }

  .fa-m-ipc-ear:before {
      content: '\f0a4';
  }

  .fa-m-ipc-eip:before {
      content: '\f0a5';
  }

  .fa-m-ipc-euf:before {
      content: '\f0a6';
  }

  .fa-m-ipc-itar:before {
      content: '\f0a7';
  }

  .fa-m-ipc-orm:before {
      content: '\f0a8';
  }

  .fa-m-ipc-sla:before {
      content: '\f0a9';
  }

  .fa-m-ipc-weee:before {
      content: '\f0aa';
  }

  .fa-m-lifecycle:before {
      content: '\f0ab';
  }

  .fa-m-lithium:before {
      content: '\f0ac';
  }

  .fa-m-multisim:before {
      content: '\f0ad';
  }

  .fa-m-rohs:before {
      content: '\f0ae';
  }

  .fa-m-new:before {
      content: '\f0af';
  }

  .fa-m-coming-soon:before {
      content: '\f0b0';
  }

  .fa-video-camera:before {
      content: '\f0b1';
  }

  .fa-external-link-square:before {
      content: '\f0b2';
  }

  .fa-file-archive-o:before {
      content: '\f0b3';
  }

  .fa-m-file-zip-o:before {
      content: '\f0b4';
  }

  .fa-m-file-mouser-o:before {
      content: '\f0b5';
  }

  .fa-picture-o:before {
      content: '\f0b6';
  }

  .fa-book:before {
      content: '\f0b7';
  }

  .fa-m-ipc-tax:before {
      content: '\f0b8';
  }


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}
